.element-list-container {
  max-width: 20vw;
  // min-width: 350px;
  padding: 0 0.4em;
}

.list-controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
  border-top: solid thin var(--primary);
}


// .select-options {
//   display: grid;
//   grid-template-columns: 1fr, 1fr, 1fr;
//   justify-content: space-around;
//   align-items: center;
// }

.options-list-container {
  padding: 0.5em;
  border-bottom: solid thin var(--primary);
  // height: 50vh;
  // border: solid thin var(--primary);
}

.selection-list {
  // min-height: 50vh;
  height: 40vh;
  overflow-y: auto;
}

