.element-list-container {
  max-width: 20vw;
  margin: 0 auto;
  margin-bottom: 1em;
}

.list-controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.list-controls h5 {
  padding-left: 16px;
}


.selection-list {
  height: 40vh;
  overflow-y: auto;
}

