<div>
  <button mat-raised-button (click)="toggleclass('controllers-container')">Controller</button>
  <button mat-raised-button (click)="toggleclass('sites-container')">Sites</button>
  <button mat-raised-button (click)="toggleclass('sectors-container')">Sectors</button>
  <button mat-raised-button (click)="toggleclass('antennas-container')">Antennas</button>
  <button mat-raised-button (click)="toggleclass('cells-container')">Cells</button>
</div>

<div class="explorer-lists-container">

  <!-- CONTROLLER -->
  <div [class.no-display]="hideController" class="controllers-container">
    <div class="list-container">
      <div class="list-title">
        CONTROLLER
      </div>
      <div class="element-list-viewport">
        <ul id="controllers" class="list-items-ul">
          <li *ngFor="let el of states" class="list-items-li" (click)="selectElement($event)">{{el.name}}</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- SITES -->
  <div [class.no-display]="hideSites" class="sites-container">
    <div class="list-container">
      <div class="list-title">
        SITES
      </div>
      <div class="element-list-viewport">
        <ul id="sites"  class="list-items-ul">
          <li *ngFor="let el of states" class="list-items-li" (click)="selectElement($event)">{{el.name}}</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- SECTORS -->
  <div [class.no-display]="hideSectors" class="sectors-container no-display">
    <div class="list-container">
      <div class="list-title">
        SECTORS
      </div>
      <div class="element-list-viewport">
        <ul id="sectors"  class="list-items-ul">
          <li *ngFor="let el of states" class="list-items-li" (click)="selectElement($event)">{{el.name}}</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- ANTENNAS -->
  <div [class.no-display]="hideAntennas" class="antennas-container no-display">
    <div class="list-container">
      <div class="list-title">
        ANTENNAS
      </div>
      <div class="element-list-viewport">
        <ul  id="antennas" class="list-items-ul">
          <li *ngFor="let el of states" class="list-items-li" (click)="selectElement($event)">{{el.name}}</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- CELLS -->
  <div [class.no-display]="hideCells" class="cells-container no-display">
    <div class="list-container">
      <div class="list-title">
        CELLS
      </div>
      <div class="element-list-viewport">
        <ul  id="cells" class="list-items-ul">
          <li *ngFor="let el of states" class="list-items-li" (click)="selectElement($event)">{{el.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- // Virtual Scroll -->
<!-- <div [class.no-display]="hideController" class="controllers-container">
  <div class="list-container">
    <div class="list-title">
      CONTROLLER
    </div>
    <div class="list-items">
      <cdk-virtual-scroll-viewport class="element-list-viewport" itemSize="50">
        <ul class="example-dl">
          <ng-container *cdkVirtualFor="let state of states">
            <li class="example-dt">{{state.name}}</li>
          </ng-container>
        </ul>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div> -->
