.update-filters-container {
  justify-content: center;
  align-items: center;
}

.step-action {
  display: flex;
  flex-flow: row;
  margin-top: 2em;
  justify-content: end;
}

.hidden {
  display: none;
}
