.element-list-container {
  max-width: 20vw;
  min-width: 350px;
  border: solid thin var(--primary);
  padding: 0.5em;
}

.list-controls {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.options-list-container {
  max-height: 30vh;
  overflow-y: auto;
}