.app-nav-item {
  color: var(--main-txt-color) !important;
}

.app-nav-item:not(.app-active-route):hover {
  color: var(--kudos-color-primary) !important;
}

.app-active-route {
  color: var(--kudos-color-secondary) !important;
  background-color: var(--kudos-color-primary) !important;
}

.app-link-label {
  margin-left: 1em;
}