.grid-container {
  height: 100%;
  display: grid;
  grid-template-areas:
    'header header header'
    'list detail detail'
    'footer footer footer';
}

.grid-container > * {
  height: 100%;
}

.grid-header {
  grid-area: header;
  margin-bottom: 2em;
}

.grid-topo-list {
  grid-area: list;
}

.grid-topo-detail {
  grid-area: detail;
}

.grid-topo-list, .grid-topo-detail {
  min-height: 80vh;
}

.grid-footer {
  grid-area: footer;
}
