.auth-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}

// .auth-form {
// }

.field-width {
  width: 30em;
}

.auth-input {
  margin-left: 1em;
}

.submit-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-error {
  margin-top: 2em;
  padding: 1em;
  border: solid thin var(--primary);
  color: var(--primary);
  border-radius: 4px;
  text-align: center;
}

.hidden {
  display: none;
}