<div class="control-items">

  <mat-list role="list">

    <mat-list-item role="listitem">
      <div class="">
        <mat-form-field color="accent">
          <input matInput placeholder="Search" value="">
        </mat-form-field>
      </div>
    </mat-list-item>

    <mat-list-item role="listitem">

      <button mat-flat-button [matMenuTriggerFor]="menuMapStyles">Map Background</button>

      <mat-menu #menuMapStyles="matMenu">
        <mat-radio-group class="radio-group">
          <mat-radio-button color="accent" class="radio-button" *ngFor="let view of mapboxStyles" [value]="view.mapbox"
            (click)="changeMapView(view.mapbox)" [checked]="view?.checked">
            {{view.label}}
          </mat-radio-button>
        </mat-radio-group>

      </mat-menu>

    </mat-list-item>

    <mat-list-item role="listitem">
      <div>Control Item</div>
    </mat-list-item>
  </mat-list>

</div>
