<mat-list>
    <h3 mat-subheader>ML Opt Types</h3>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span mat-line>Single Cell</span>
    </mat-list-item>
    <mat-list-item>
      <span mat-line>Multi-Tech Sector</span>
    </mat-list-item>
    <mat-list-item>
      <span mat-line>Single-Tech Site</span>
    </mat-list-item>
    <mat-list-item>
      <span mat-line>Multi-Tech Site</span>
    </mat-list-item>
    <mat-list-item>
      <span mat-line>Single Tech Cluster</span>
    </mat-list-item>
    <mat-list-item>
      <span mat-line>Multi-Tech Cluster</span>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>