<!-- <div class="explorer-toolbar"> -->

<mat-toolbar class="basic-toolbar" color="primary">

  <div>
    <h5>Explorer</h5>
  </div>

  <div>
    <mat-form-field>
      <input matInput color="accent" placeholder="Search" value="">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-select color="accent" placeholder="Technology Filter" [(value)]="selectedTech" name="filterTech">
        <mat-option *ngFor="let tech of techs" [value]="tech.value">
          {{tech.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
      <button mat-icon-button (click)="toggleAdvancedFilter()" color="accent">
          <span>More</span>
          <mat-icon>chevron_left</mat-icon>
        </button>
  </div>

</mat-toolbar>

<!-- <mat-toolbar class="explorer-toolbar" color="primary">
    <div class="basic-toolbar">
      <div class="title">
        <h5>Network Explorer</h5>
      </div>

      <div class="search">
        <mat-form-field>
          <input matInput color="accent" placeholder="Search" value="">
        </mat-form-field>
      </div>

      <div class="basic-filter">
        <mat-form-field>
          <mat-select color="accent" placeholder="Technology Filter" [(value)]="selectedTech" name="filterTech">
            <mat-option *ngFor="let tech of techs" [value]="tech.value">
              {{tech.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="show-advanced-filter">
        <button mat-icon-button (click)="toggleAdvancedFilter()" color="accent">
          <span>Advanced</span>
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>



  <div [class.hide-advanced]="hideAdvancedFilter" class="advanced-toolbar">
    ADVANCED
  </div> -->

<!-- </div> -->


<!-- <div class="explorer-filter-container">
  <app-advanced-filter></app-advanced-filter>
</div> -->