.explorer-toolbar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.basic-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgd-dark);
  height: 64px;
  padding: 0 0.5em;
}

.search {
  max-width: calc(100vw / 3);
  width: 100%;
  font-size: 0.85em;
}

.search mat-form-field {
  width: 90%;
  color: var(--txt-light) !important;
}

.hide-advanced {
  display: none;
}
