<!-- <div class="explorer-toolbar"> -->

<mat-toolbar class="basic-toolbar" color="primary">

  <div>
    <mat-form-field color="accent">
      <input matInput color="accent" placeholder="Network Search" value="">
    </mat-form-field>
  </div>

  <div>

    <mat-form-field color="accent" style="margin-right: 1em;">
      <mat-select color="accent" placeholder="Quick Filter" [(value)]="selectedQuick" name="quickOptions">
        <mat-option *ngFor="let quick of quickOptions" [value]="quick.value">
          {{quick.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-select color="accent" placeholder="Technology Filter" [(value)]="selectedTech" name="filterTechs">
        <mat-option *ngFor="let tech of techs" [value]="tech.value">
          {{tech.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div>

    <button mat-icon-button (click)="toggleAdvancedFilter()" color="accent">
      <span>More</span>
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>

</mat-toolbar>


<!-- <div class="explorer-filter-container">
  <app-advanced-filter></app-advanced-filter>
</div> -->