.explorer-page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

// .explorer-nav-container {

// }


// .explorer-toolbar-container {
//   // height: 64px;
// }


.explorer-page-content {
  margin: 0.5em;
}

.isActive {
  color: var(--primary);
}