.explorer-page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.explorer-nav {
  justify-content: space-between;
  align-items: center;
}

.explorer-title {
  margin-right: 2em;
}


.explorer-page-content {
  margin: 0.5em 0;
}

.isActive {
  color: var(--primary);
}