<div class="explorer-toolbar-container">
  <div class="title">Network Explorer</div>
  <div class="search">
      <mat-icon>search</mat-icon>
      <mat-form-field>
          <input matInput placeholder="Search" value="">
      </mat-form-field>
  </div>
  <div class="filter">
    <span style="margin-right: 0.5em;">Filter</span>
      <mat-form-field>
          <mat-select [(value)]="filterValue">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
  </div>
</div>

<div class="explorer-page">

  <div class="explorer-container">
    <app-explorer-lists></app-explorer-lists>
  </div>

  <div class="explorer-details-container">
    <app-explorer-data-table></app-explorer-data-table>
  </div>

</div>
