<div class="explorer-page-container">

  <mat-toolbar color="primary" class="explorer-nav">

    <div class="explorer-nav-container">
      <nav mat-tab-nav-bar color="accent" backgroundColor="primary">
        <a mat-tab-link *ngFor="let link of explorerLinks" [routerLink]="link.route" routerLinkActive [active]="rla.isActiveRoute"
          [routerLinkActive]="['isActiveRoute']" #rla="routerLinkActive">
          {{link.label}}
        </a>
      </nav>
    </div>

    <div>
      <button mat-stroked-button color="accent" (click)="showSelection=!showSelection">SELECT</button>
    </div>

  </mat-toolbar>

  <div [ngStyle]="{'display': showSelection ? 'block' : 'none'}">
    <app-element-selection></app-element-selection>
  </div>

  <div class="explorer-page-content">
    <router-outlet></router-outlet>
  </div>

</div>