<div class="explorer-page-container">

  <mat-toolbar color="primary" class="explorer-nav">

    <!-- <div class="explorer-title">
      <h5>Explorer</h5>
    </div> -->

    <div class="explorer-nav-container">
      <nav mat-tab-nav-bar color="accent" backgroundColor="primary">
        <a mat-tab-link *ngFor="let link of explorerLinks" [routerLink]="link.route" routerLinkActive [active]="rla.isActiveRoute"
          [routerLinkActive]="['isActiveRoute']" #rla="routerLinkActive">
          {{link.label}}
        </a>
      </nav>
    </div>

    <div style="width: 80%;">
      <!-- <app-explorer-toolbar></app-explorer-toolbar> -->
    </div>

  </mat-toolbar>


  <div class="explorer-page-content">
    <router-outlet></router-outlet>
  </div>

</div>
