<div class="app-container">

  <!-- header -->
  <header>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
  </header>

  <mat-sidenav-container class="appPage">
    <!-- Side Nav -->
    <mat-sidenav position="start" mode="over" role="navigation" #sidenav>
      <app-sidenav (closeSidenav)="sidenav.close()"></app-sidenav>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content>
      <main class="main-content">
        <router-outlet (deactivate)="onDeactivate()"></router-outlet>
      </main>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <footer>
    <!-- <app-footer></app-footer> -->
  </footer>

</div>
