.admin-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: calc(100vh - 64px);
  height: 100%;
  background-color:var(--secondary-bgd-color);
  color: var(--kudos-color-primary);
}

.admin-nav {
  margin: 2em 0;
}

.admin-nav > li {
  cursor: pointer;
  padding: 1em 2em 1em 1em;
}

.admin-active-link {
  color: var(--kudos-color-secondary);
}