<div class="element-list-container">

  <form class="search-form">
    <mat-form-field class="search-width">
      <input type="text" placeholder="Pick one" matInput [formControl]="searchControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>


  <mat-selection-list dense #list [(ngModel)]="selectedOptions" (ngModelChange)="optionClicked($event)" role="listbox">
    <mat-list-option *ngFor="let element of elements" [value]="element" role="option">{{element}}</mat-list-option>
  </mat-selection-list>

  <div>
    {{selectedElements}}
  </div>
</div>

