<div class="element-list-container">

  <form class="search-form">
    <mat-form-field class="search-width">
      <input type="text" placeholder="Search" matInput [formControl]="searchControl">
    </mat-form-field>
    <button mat-icon-button (click)="emptySearch()">
      <mat-icon>filter_list</mat-icon>
    </button>
  </form>


  <mat-selection-list dense (selectionChange)="onSelectedOptionsChange()" role="listbox" #list>
    <!-- <mat-selection-list dense [(ngModel)]="selectedOptions" (ngModelChange)="optionClicked($event)" role="listbox"> -->
    <mat-list-option *ngFor="let element of filteredOptions | async"
    [value]="element"
    [selected]="element.selected"
    (click)="element.selected=!element.selected"
    role="option">{{element.option}}</mat-list-option>
  </mat-selection-list>


  <div>
    <h5>Filter</h5>
    {{filteredOptions | async | json}}
  </div>

  <div>
    <h5>Selected Elements</h5>
    {{selectedElements | json}}
  </div>

  <div>
    <h5>Selected Element$</h5>
    {{selectedElement$ | async | json}}
  </div>

  <div>
    <h5>Selected Options</h5>
    {{selectedOptions}}
  </div>

  <div>
    <button mat-stroked-button (click)="clearSelected()">Clear</button>
  </div>

</div>
