<div class="data-manager-container">

  <!-- Import CSV Network Data -->
  <div class="data-manager-item import-data-container">
    <div class="title">
      <h4>Import Network Data</h4>
    </div>
    <div class="content">
      <div>Select CSV file</div>
      <div>Filename: {{csvFileName}}</div>
      <button mat-raised-button>Browse</button>
    </div>
  </div>

  <!-- Import CSV Network Data -->
  <div class="data-manager-item import-data-container">
    <div class="title">
      <h4>Import Network Data</h4>
    </div>
    <div class="content">
      <div>
        <dt>Steps</dt>
        <dd>Upload CSV to storage bucket</dd>
        <dd>Show Progress Bar</dd>
        <dd>On Complete Call Firebase Function</dd>
        <dd>Function #1 Parses CSV file</dd>
        <dd>Function #1 Stores JSON in DB</dd>
        <dd>Function #2 returns JSON data from DB</dd>
      </div>
    </div>
  </div>

  <!-- Import CSV Network Data -->
  <div class="data-manager-item import-data-container">
    <div class="title">
      <h4>Import Network Data</h4>
    </div>
    <div class="content">
      Import Data Form
    </div>
  </div>

  <!-- Import CSV Network Data -->
  <div class="data-manager-item import-data-container">
    <div class="title">
      <h4>Import Network Data</h4>
    </div>
    <div class="content">
      Import Data Form
    </div>
  </div>

</div>