<div class="data-manager-container">

  <!-- Import CSV Network Data -->
  <div class="data-manager-item import-data-container">
    <div class="title">
      <h4>Upload Network Database</h4>
    </div>
    <div class="content">
      <!-- Sub Component  -->
      <app-site-database></app-site-database>
    </div>
  </div>

  <!-- Import CSV Network Data -->
  <div class="data-manager-item">
    <div class="title">
      <h4>Update Filters</h4>
    </div>
    <div class="content">
      <!-- Sub Component  -->
      <app-update-filters></app-update-filters>
    </div>
  </div>

  <!-- Import CSV Network Data -->
  <div class="data-manager-item import-data-container">
    <div class="title">
      <h4>Import Network Data</h4>
    </div>
    <div class="content">
      <div>
        <dt>Steps</dt>
        <dd>Upload CSV to storage bucket</dd>
        <dd>Show Progress Bar</dd>
        <dd>On Complete Call Firebase Function</dd>
        <dd>Function #1 Parses CSV file</dd>
        <dd>Function #1 Stores JSON in DB</dd>
        <dd>Function #2 returns JSON data from DB</dd>
      </div>
    </div>
  </div>

  <!-- Import CSV Network Data -->
  <div class="data-manager-item import-data-container">
    <div class="title">
      <h4>Add to Storage</h4>
    </div>
    <div class="content">
      <app-upload-site-info></app-upload-site-info>
    </div>
  </div>

  <!-- Import CSV Network Data -->
  <div class="data-manager-item import-data-container">
    <div class="title">
      <h4>Import Network Data</h4>
    </div>
    <div class="content">
      Import Data Form
    </div>
  </div>

  <!-- Import CSV Network Data -->
  <div class="data-manager-item import-data-container">
    <div class="title">
      <h4>Import Network Data</h4>
    </div>
    <div class="content">
      Import Data Form
    </div>
  </div>

</div>
