<div>
  <div style="margin: 2em 0;">
    <h4>Load CSV File</h4>
    <div>
      <input id="fileInput" type="file" (change)="fileInput($event)">
    </div>
    <div *ngIf="ready" style="margin-top: 1em;">
      <div class="control">
        <button mat-raised-button (click)="startParse()">Start</button>
      </div>
    </div>
  </div>



  <div>
    <div>

      <div class="progress-container" *ngIf="progStates; let progress; else parsing">

        <div class="bucketGrid">
          <h5 class="bucketId">Sites Upload</h5>
          <mat-progress-bar class="bucketProgress" mode="determinate" [value]="progress?.sites?.pcnt"></mat-progress-bar>
          <!-- [value]="((pcnt | async) | number:'1.0-0')" -->
          <div class="bucketPcnt">
            <small>
              {{ progStates?.sites?.progress }} of {{ progStates?.sites?.total }} ({{ progStates?.sites?.pcnt }} %)
            </small>
          </div>
        </div>

        <div class="bucketGrid">
          <h5 class="bucketId">Sectors Upload</h5>
          <mat-progress-bar class="bucketProgress" mode="determinate" [value]="progress?.sectors?.pcnt"></mat-progress-bar>
          <div class="bucketPcnt">
            <small>
              {{ progStates?.sectors?.progress }} of {{ progStates?.sectors?.total }} ({{ progStates?.sectors?.pcnt }} %)
            </small>
          </div>
        </div>

        <div class="bucketGrid">
          <h5 class="bucketId">Antennas Upload</h5>
          <mat-progress-bar class="bucketProgress" mode="determinate" [value]="progress?.antennas?.pcnt"></mat-progress-bar>
          <div class="bucketPcnt">
            <small>
              {{ progStates?.antennas?.progress }} of {{ progStates?.antennas?.total }} ({{ progStates?.antennas?.pcnt }} %)
            </small>
          </div>
        </div>

        <div class="bucketGrid">
          <h5 class="bucketId">Cells Upload</h5>
          <mat-progress-bar class="bucketProgress" mode="determinate" [value]="progress?.cells?.pcnt"></mat-progress-bar>
          <div class="bucketPcnt">
            <small>
              {{ progStates?.cells?.progress }} of {{ progStates?.cells?.total }} ({{ progStates?.cells?.pcnt }} %)
            </small>
          </div>
        </div>

      </div>
      <ng-template #parsing>
        <div [class.hideProgBar]="hideProgBar" class="progBar">
          <span style="padding-bottom: 0.5em;">### Parsing Data ###</span>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </ng-template>

    </div>




  </div>
</div>
