<div>
  <div style="margin: 2em 0;">
    <h4>Load CSV File</h4>
    <div>
      <input id="fileInput" type="file" (change)="fileInput($event)">
    </div>
    <div *ngIf="ready" style="margin-top: 1em;">
      <div class="control">
        <button mat-raised-button (click)="startParse()">Start</button>
      </div>
    </div>
  </div>



  <div>
    <!-- <h4>Parse Result (Static)</h4> -->
    <div>
      <div [class.hideProgBar]="hideProgBar" class="progBar">
        <span style="padding-bottom: 0.5em;">Loading...</span>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

      <div class="bucketGrid">
        <h5 class="bucketId">Sites Upload</h5>
        <mat-progress-bar class="bucketProgress" mode="determinate"></mat-progress-bar>
        <div class="bucketPcnt">
            <small>
                {{progStates.sites?.total}}
              </small>
        </div>
      </div>

      <div class="bucketGrid">
        <h5 class="bucketId">Sectors Upload</h5>
        <mat-progress-bar class="bucketProgress" mode="determinate"></mat-progress-bar>
        <div class="bucketPcnt">
            <small>
                {{progStates.sectors?.total}}
              </small>
        </div>
      </div>

      <div class="bucketGrid">
        <h5 class="bucketId">Antennas Upload</h5>
        <mat-progress-bar class="bucketProgress" mode="determinate"></mat-progress-bar>
        <div class="bucketPcnt">
            <small>
                {{progStates.antennas?.total}}
              </small>
        </div>
      </div>

      <div class="bucketGrid">
        <h5 class="bucketId">Cells Upload</h5>
        <mat-progress-bar class="bucketProgress" mode="determinate"></mat-progress-bar>
        <div class="bucketPcnt">
          <small>
            {{progStates.cells?.total}}
          </small>
        </div>
      </div>

    </div>
  </div>
</div>
