.control {
  display: inline-block;
  margin-right: 2em;
}

.hideProgBar {
  display: none;
}

.progBar {
  width: 50%;
  margin: 0 auto;
}


.bucketGrid {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "bucketId bucketProgress bucketPcnt";
  justify-items: center;
  align-items: center;
}

.bucketId {
  grid-area: bucketId;
  justify-self: end;
}

.bucketProgress {
  grid-area: bucketProgress;
}

.bucketPcnt {
  grid-area: bucketPcnt;
  justify-self: start;
}
