.trials-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
}

.trials-header-item {
  margin-right: 3em;
}

.trials-content {
  margin: 1em auto;
}