.map-view-container {
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-template-areas: 'map controls';
}

.mapbox-container {
  grid-area: 'map';
  display: flex;
  justify-content: center;
}

.map-controls {
  grid-area: 'controls';
  border-left: solid thin var(--primary) !important;
}

#mapbox-explorer-map {
   position:absolute;
   top:0;
   bottom:0;
   width:100%;
}
