<div class="element-selection-container">

  <div class="filter-row filter-control">

    <div>
      <mat-form-field class="field-width" appearance="outline">
        <mat-select placeholder="Quick Filter" [formControl]="quickFilterOptionsControl">
          <mat-option *ngFor="let option of quickOptions" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field *ngIf="selectedQuickFilterOption !== '' || null" class="field-width" appearance="outline">
        <mat-select placeholder="Filter Selection" [formControl]="quickFilterSelectionControl">
          <mat-option *ngFor="let sub of quickSubOption$ | async" [value]="sub.value">
            {{sub.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="field-width" appearance="outline">
        <mat-label>Search</mat-label>
        <input type="text" placeholder="Search" matInput [formControl]="searchControl">
        <mat-icon class="clear-search" matSuffix [ngStyle]="{'display': filterOn ? 'inline' : 'none'}" (click)="emptySearch()">clear</mat-icon>
      </mat-form-field>
    </div>

  </div>


  <div class="filter-row list-options-container">
    <app-list-network-elements *ngFor="let mode of modes" [optionInput]="elements" [mode]="mode" [searchterm]="searchterm"></app-list-network-elements>
  </div>


  <div class="filter-row list-options-container">
    Other Filters
  </div>

  <div class="filter-row apply-filter-button">
    <button mat-raised-button color="accent">Apply Filter</button>
  </div>

</div>
