.element-selection-container {
  margin: 0 auto 1.5em auto;
}

.list-options-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-content: space-around;
  align-items: start;
}
