.element-selection-container {
  margin: 1.5em;
}

.filter-row {
  margin-bottom: 2em;
  width: 100%;
}

.filter-control {
  display: grid;
  grid-template-columns: 2fr  1fr;
  grid-gap: 10em;
  justify-content: space-around;
  align-items: center;
  margin:0.5em;
  border-bottom: solid thin var(--primary);
}

.list-options-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-content: space-around;
  align-items: start;
}

.options-list {
  width: 100%;
  margin: 0 auto;
}

.quickfilter {
  width: 33%;
  margin-right: 2em;
}

.field-width {
  width: 100%;
}

.clear-search {
  cursor: pointer;
}
