@import './styles-md-kudos.scss';

:root {
  --bgd-light: #333;
  --bgd-dark: #212121; // #222
  --txt-light: ghostwhite; // rgb(230,230,250,0.95)
  --txt-contrast: #fb8c00; // rgb(255,165,0,0.9); // Orange
  --primary: #fb8c00;; // rgb(255,165,0,0.9)
  --secondary: #444;

  --toolbarHeight: 64px;
  // --secondary: #3f51b5;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
 }

 body * {
  box-sizing: border-box;
 }

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--txt-light);
  background-color: var(--bgd-light);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0em;
  font-weight: 500;
  color: var(--txt-contrast);
}

a {
  color: var(--primary);
}

.scrollbar {
  overflow-y: auto;
  scrollbar-track-color: var(--bgd-dark);
  scrollbar-color: var(--secondary) var(--bgd-dark);
  scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar {
  width: 3px;
  background-color: var(--bgd-dark);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: var(--bgd-dark);
}


.isActiveRoute {
  color: var(--primary) !important;
}


// Sub Page Layouts with menu
.page-container {
  display: grid;
  grid-template-areas: 'page-content page-nav';
  grid-template-columns: 7fr minmax(14em, 1fr);
  justify-content: stretch;
  justify-items: stretch;
  align-items: stretch;
}

.page-nav-container {
  grid-area: page-nav;
  width: 100%;
  overflow-y: auto;
  min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
  background-color: var(--bgd-dark);
}

.page-content-container {
  grid-area: page-content;
  padding: 2em 4em;
  overflow-y: auto;
  min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
}