@import './styles-md-kudos.scss';

:root {
  --bgd-light: #333;
  --bgd-dark: #222;
  --txt-light: ghostwhite; // rgb(230,230,250,0.95)
  --txt-contrast: rgb(255,165,0,0.9); // Orange
  --primary: rgb(255,165,0,0.9);
  --secondary: #3f51b5;
}

html, body {
  height: 100%;
 }

 body * {
  box-sizing: border-box;
 }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--txt-light);
  background-color: var(--bgd-light);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5 {
  color: var(--txt-contrast);
  font-weight: 500;
}


.appPage{
  min-height: calc(100vh - 64px);
  margin: 0 auto;
  color: var(--txt-light);
  background-color: var(--bgd-light);
}


.page-container {
  display: grid;
  grid-template-areas: 'page-content page-nav';
  grid-template-columns: 7fr minmax(14em, 1fr);
  justify-content: stretch;
  justify-items: stretch;
  align-items: stretch;
}

.page-nav-container {
  grid-area: page-nav;
  width: 100%;
  overflow-y: auto;
  min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
  background-color: var(--bgd-dark);
}

.page-content-container {
  grid-area: page-content;
  padding: 2em 5em;
  overflow-y: auto;
  min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
}
