.auth-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10em;
}

// .auth-form {
// }

.field-width {
  width: 30em;
}

.auth-input {
  margin-left: 1em;
}

.submit-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}