.data-table-page {
  min-height: calc((100vh - 128px - 0.4em)/3);
  // background-color: dodgerblue;
}

.data-table-container {
  height: calc((100vh - 128px - 0.4em)/3);
  overflow: auto;
}

table {
  width: 100%;
}
