.controls-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  margin-top: 1.5em;
}

.drag-drop-area {
  border: 2px dashed var(--secondary);
  padding: 1em;
  text-align: center;
  min-height: 10em;

  &.hovering {
    border: 2px solid var(--txt-light);
    color: #dadada !important;
  }
}

.drag-drop-area > * {
  margin: 1em 0;
}

.file-area {
  margin-top: 1em;
  color: var(--secondary);
}

.file-name {
  color: var(--primary);
  text-align: center;
}

.progress {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 65%;
}

.progress-labels {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.progress-labels > small {
  margin-top: 5px;
  text-align: right;
}

.control-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 1em;
}

.hide-controls, .hide-messages {
  display: none;
}

.upload-messages {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.upload-success {

}

.upload-error {

}


