<mat-toolbar class="header-bar" color="">
  <div class="header-flex">

    <div>
      <span class="header-item">
        <button mat-icon-button (click)="onToggleSideNav()">
          <mat-icon style="color: ghostwhite;">menu</mat-icon>
        </button>
      </span>
      <span class="header-item">
        <span routerLink="/dashboard">
          <span class=" header-title">kudos</span>
          <small style="color: #444;">&nbsp;:::&nbsp;machine learning&nbsp;:::</small>
        </span>
      </span>
    </div>

    <div>
      <div class="header-item auth">
        <div *ngIf="(authState); else elseBlock">
          <button mat-raised-button color="accent" (click)="doSignout()">Sign Out</button>
        </div>
        <ng-template #elseBlock>
          <button mat-raised-button (click)="doSignin()">Sign In</button>
        </ng-template>
      </div>
    </div>

  </div>
</mat-toolbar>
