<mat-toolbar color="primary">
  <div class="header-flex">

    <div>
      <span class="header-item">
        <button mat-icon-button (click)="onToggleSideNav()">
          <mat-icon>menu</mat-icon>
        </button>
      </span>
      <span class="header-item">
        <span routerLink="/dashboard">kudos - machine learning</span>
      </span>
    </div>

    <div>
      <div class="header-item auth">
        <div *ngIf="(authState); else elseBlock">
          <button mat-raised-button (click)="doSignout()">Sign Out</button>
        </div>
        <ng-template #elseBlock>
          <button mat-raised-button (click)="doSignin()">Sign In</button>
        </ng-template>
      </div>
    </div>

  </div>
</mat-toolbar>
