.header-bar {
  justify-content: space-between;
  align-items: center;
}


.header-item {
  margin-right: 2em;
}

.header-title {
  cursor: pointer;
  color: var(--primary);
}


// .header-bar {
//   // background-color: var(--bgd-dark) !important;
// }

// justify-content: space-between;
// align-items: center;

// .header-flex {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
// }





