.header-bar {
  justify-content: space-between;
  align-items: center;
  border-bottom: solid thin var(--primary) !important;
}

.header-item {
  margin-right: 2em;
}

.header-title {
  cursor: pointer;
  color: var(--primary);
}

.userid {
  color: var(--secondary);
  margin-right: 1em;
}





