.header-bar {
  background-color: #222 !important;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-title {
  cursor: pointer;
  color: var(--kudos-color-secondary);
}


.header-item {
  margin-right: 2em;
}
